p-azul {
    color: blue;
}


#titulo-principal {
    background-color: yellow
}

.subtitulo-classudo {
    color: green;
}

li{
    color:red
}

.caixa1 {
    background-color: rgb(0, 21, 255);
}
.caixa2 {
    background-color: rgb(255, 0, 0);
}

p, h2, h3 {
    color: rgb(0, 0, 0);
}

#centralizado {
    text-align: center;
    color: darkturquoise;
}

#link-google {
    color: blue;
}
#link-youtube {
    color: red;
}

.negrito {
    font-weight: bold;
    color: darkgoldenrod;
}

.paragrafo1 {
    color: darkblue;
}

.paragrafo2{
    color: deeppink;
}

#titulo-arial {
    font-family: Arial, sans-serif;
}

.negrito {
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.sublinhado {
    text-decoration: underline;
}

div h3 {
    color: olive;
    font-family: 'Times New Roman', Times, serif;
}

#div-1 {
background-color: coral;
}

#div-2{
background-color:brown;
}

#div-3{
 background-color: rgb(115, 103, 96);
}

.palavra-destaque{
    color: violet;
}

#div123{
    background-color: goldenrod;
    border: 3px; color: #fffb05;
    padding: 10px;
}

h1, p, a {
    color: rgb(255, 0, 0);
}
